.carda:hover > .card {
    transform: rotateY(180deg) !important;
    transition: transform 400ms;
}

.card {
    transform-style: preserve-3d;
}

.BACK {
    transform: rotateY(180deg);
}
.FRONT,.BACK {
    backface-visibility: hidden;
}